body{
    background-image: url("../assets/crew/background-crew-desktop.jpg");
    background-size: cover;
    animation: transition 1s;
}

div.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    min-height: 75vh;
    margin: auto;
    animation: up-destination 1.2s ease;
}

@keyframes up-destination{
    from{transform: translateY(900px);}
    to{transform: translateY(0);}
}

div.left{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 50%;
    height: 75vh;
}

div.left div.title strong{
    color: #755959;
    font-weight: 300;
    margin-right: 20px;
}

div.left div.title h1{
    font-family: "Barlow Condensed",sans-serif;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 3px;
    word-spacing: 20px;
    margin: 0 0 0 10px;
}

div.left div.texte{
    margin: 140px 0 0 0;
}

div.left div.texte h2{
    font-family: "Bellefair",sans-serif;
    font-weight: 500;
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
}

div.left div.texte p{
    font-family: "Barlow",sans-serif;
    color: rgba(255, 255, 255, .7);
    line-height: 2;
    margin-top: 15px;
    margin-bottom: 115px;
}

div.left div.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 1em;
}

div.left div.buttons button{
    width: 10px;
    height: 12px;
    border-radius: 150px;
    border: none;
    transition: .5s ease;
    cursor: pointer;
    background-color: #a99595;
}

div.left div.buttons button:hover{
    transform: scale(1.2);
}

div.left div.buttons button.button--active{
    background: #fff;
    transform: scale(1.2);
}

div.right img{
    margin: 30px 60px;
}