body{
    background-image: url("../assets/destination/background-destination-desktop.jpg");
    background-size: cover;
}

.glide__slide div.container{
    display: flex;
    margin-top: 50px;
    content: '';
    height: 75vh;
    width: 100%;
    animation: up-destination 1.2s ease;
}

@keyframes up-destination{
    from{transform: translateY(900px);}
    to{transform: translateY(0);}
}


div.left{
    width: 60%;
    display: flex;
    flex-direction: column;
}

div.left div.title{
    margin: 20px auto;
}

div.left div.title strong{
    color: #755959;
    font-weight: 300;
    margin-right: 20px;
}

div.left div.title h1{
    font-family: "Barlow Condensed",sans-serif;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    margin: 7px 0 0 0;
    font-size: 43px;
    letter-spacing: 3px;
    word-spacing: 20px;
}

div.left div.planet{
    margin: 50px auto;
}

div.left div.planet img{
    width: 125%;
    animation: rotate 50s infinite linear;
}

@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}

div.right{
    width: 40%;
    display: flex;
    flex-direction: column;
}

div.right div.buttons{
    margin-top: 110px;
}

div.right div.buttons button{
    background-color: transparent;
    font-family: "Barlow Condensed",sans-serif;
    font-size: 23px;
    border: none;
    font-weight: 300;
    padding: 10px;
    color: rgba(255, 255, 255, .8);
}

div.right div.buttons button.button--active{
    border-bottom: 2px solid white;
}

div.right div.planet-name h3{
    font-family: "Bellefair",serif;
    font-weight: 500;
    color: #fff;
    font-size: 96px;
}

div.right div.texte{
    margin-top: 30px;
    width: 70%;
}

div.right div.texte p{
    font-family: "Barlow",sans-serif;
    font-size: 21px;
    line-height: 1.3;
    text-align: justify;
    color: rgba(255, 255, 255, .8);
    border-bottom: 1px solid gray;
    padding-bottom: 30px;
}

div.right div.stats {
    width: 55%;
}

div.right div.stats div.stats-name{
    display: flex;
    justify-content: space-between;
    margin: 60px 0 20px 0;
}

div.right div.stats div.stats-name p{
    font-family: "Barlow Condensed",sans-serif;
    font-weight: 500;
    color: rgba(255, 255, 255, .8);
    font-size: 19px;
    text-transform: uppercase;
}

div.right div.stats div.stats-res{
    display: flex;
    justify-content: space-between;
}

div.right div.stats div.stats-res p{
    font-family: "Bellefair",sans-serif;
    font-size: 32px;
    color: rgba(255, 255, 255, .8);
    text-transform: uppercase;
}